<h1>Registrar pedido</h1>

<%= form_with(model: @order) do |form| %>
  <div>
    <%= form.label :warehouse_id, 'Galpão Destino'%>
    <%= form.collection_select :warehouse_id, @warehouses, :id, :name %>
  </div>

  <div>
    <%= form.label :supplier_id, 'Fornecedor' %>
    <%= form.collection_select :supplier_id, @suppliers, :id, :corporate_name %>
  </div>

  <div>
    <%= form.label :estimated_delivery_date, 'Data prevista de Entrega' %>
    <%= form.text_field :estimated_delivery_date %>
  </div>

  <%= form.submit 'Gravar' %>

<% end %>