<h1>Pedido</h1>

<p>Galpão: <%= @order.warehouse.name %></p>
<p>Fornecedor: <%= @order.supplier.corporate_name %></p>
<p>Usuário Resposável: <%= @order.user.name %> | <%= @order.user.email %></p>
<p>Data prevista de Entrega: <%= I18n.localize(@order.estimated_delivery_date) %></p>