<h1>Editar galpão</h1>

<%= form_with model: @warehouse do |form| %> 
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :area %>
    <%= form.number_field :area %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :zip %>
    <%= form.number_field :zip %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit 'Enviar' %>
  </div>
<% end %>