<h2>Cadastrando um novo galpão</h2>

<% if @warehouse.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
  <% @warehouse.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: @warehouse do |form| %> 
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :code %>
    <%= form.text_field :code %>
  </p>

  <p>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </p>

  <p>
    <%= form.label :area %>
    <%= form.number_field :area %>
  </p>

  <p>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.label :zip %>
    <%= form.number_field :zip %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit 'Enviar' %>
  </p>
<% end %>