<h2>Cadastrando um novo galpão</h2>

<%= form_with model: @warehouse do |form| %> 
  <p>
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :code, 'Código' %>
    <%= form.text_field :code %>
  </p>

  <p>
    <%= form.label :city, 'Cidade' %>
    <%= form.text_field :city %>
  </p>

  <p>
    <%= form.label :area, 'Área' %>
    <%= form.number_field :area %>
  </p>

  <p>
    <%= form.label :address, 'Endereço' %>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.label :zip, 'CEP' %>
    <%= form.number_field :zip %>
  </p>

  <p>
    <%= form.label :description, 'Descrição' %>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit 'Enviar' %>
  </p>
<% end %>