<h2>Galpão: <%= @warehouse.code %></h2>

<h3><%= @warehouse.description %></h3>

<ul>
  <li><p>Nome: <%= @warehouse.name %></p></li>
  <li><p>Cidade: <%= @warehouse.city %></p></li>
  <li><p>Área: <%= @warehouse.area %></p></li>
  <li><p>Endereço: <%= @warehouse.address %></p></li>
  <li><p>CEP: <%= @warehouse.zip %></p></li>
</ul>


<%= link_to('Editar', edit_warehouse_path(@warehouse.id)) %>
<%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete) %>
<%= link_to('Voltar', root_path) %>
